/debug-conf-parser.php
/debug-*
/mig_*
/phpunit.*
/collect.php
/_migration/
/node_modules/
/bin/.phpunit/
/vendor/
.phpunit
.phpunit.result.cache
composer.phar
/migrations/
/index.php
/initxlab/
